<!--
 * @Author: Timber.Wang
 * @Date: 2022-11-19 19:56:04
 * @LastEditors: Timber.Wang
 * @LastEditTime: 2022-11-19 20:02:38
 * @Description: 实验12
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="application/javascript" src="../Lesson_01/js/vue.js"></script>
    <style>
      body {
        font-family: 微软雅黑;
      }
      .search input {
        width: 350px;
        height: 30px;
      }
      .item {
        width: 350px;
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid #999999;
      }
      .item img {
        width: 70px;
        float: left;
      }
      .item span {
        height: 100px;
        line-height: 100px;
      }
    </style>

    <title>实验12</title>
  </head>
  <body>
    <div id="example">
      <div class="search">
        <input type="text" v-model="searchStr" placeholder="请输入搜索内容" />
      </div>
      <div>
        <div class="item" v-for="book in results">
          <img :src="book.image" />
          <span>{{book.bookname}}</span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var exam = new Vue({
        el: '#example',
        data: {
          searchStr: '',
          books: [
            {
              bookname: '案例1',
              image: 'img/mr.gif'
            },
            {
              bookname: '案例2',
              image: 'img/mr.gif'
            },
            {
              bookname: '案例3',
              image: 'img/mr.gif'
            },
            {
              bookname: '案例4',
              image: 'img/mr.gif'
            },
            {
              bookname: '案例5',
              image: 'img/mr.gif'
            },
            {
              bookname: '案例6',
              image: 'img/mr.gif'
            }
          ]
        },
        computed: {
          results: function () {
            var books = this.books
            if (this.searchStr == '') {
              return books
            }
            var searchStr = this.searchStr.trim().toLowerCase()
            books = books.filter(function (ele) {
              if (ele.bookname.toLowerCase().indexOf(searchStr) != -1) {
                return ele
              }
            })
            return books
          }
        }
      })
    </script>
  </body>
</html>
